In [1]:
import sklearn
print("Scikit-learn imported successfully!")

Scikit-learn imported successfully!

In [8]:
import pandas as pd

In [28]:
#Membaca File Excel
df = pd.read_excel('data-test.xlsx')
print(df.head(5))

          Nama Perusahaan                                            Layanan
0  PT WISATA SAPTA PESONA                                 INTERNET CORPORATE
1  PT WISATA SAPTA PESONA  INTERNET CORPORATE / PENAMBAHAN IPV4 PUBLIK IN...
2  PT WISATA SAPTA PESONA  INTERNET CORPORATE / PENAMBAHAN IPV4 PUBLIK IN...
3  PT WISATA SAPTA PESONA  INTERNET CORPORATE / PROFESIONAL SERVICE WHITE...
4  PT WISATA SAPTA PESONA  INTERNET CORPORATE / PROFESIONAL SERVICE WHITE...

In [29]:
#Memeriksa duplicate
#kita hanya butuh cek 1x aja produk tersebut di order apa tidak

is_df_duplicate= df.duplicated()
print(is_df_duplicate)

0         False
1         False
2          True
3         False
4          True
          ...
845471     True
845472     True
845473     True
845474    False
845475     True
Length: 845476, dtype: bool

In [30]:
#menghapus baris duplikat

df_no_duplicates = df.drop_duplicates()
print(df_no_duplicates)

                                          Nama Perusahaan  \
0                                  PT WISATA SAPTA PESONA
1                                  PT WISATA SAPTA PESONA
3                                  PT WISATA SAPTA PESONA
5                             PT. CIMB NIAGA AUTO FINANCE
6                             PT. CIMB NIAGA AUTO FINANCE
...                                                   ...
845445  BADAN PENGELOLAAN KEUANGAN DAN ASET DAERAH KOT...
845447  BADAN KEPEGAWAIAN DAN PENGEMBANGAN SUMBER DAYA...
845456                                    ZOOM BPN SULSEL
845457                     DISKOMINFO KABUPATEN GORONTALO
845474                                PT. ELNUSA PETROFIN

                                                  Layanan
0                                      INTERNET CORPORATE
1       INTERNET CORPORATE / PENAMBAHAN IPV4 PUBLIK IN...
3       INTERNET CORPORATE / PROFESIONAL SERVICE WHITE...
5       INTERNET CORPORATE / PROFESIONAL SERVICE WHITE...
6                                      INTERNET CORPORATE
...                                                   ...
845445                                                NaN
845447                                                NaN
845456                                                NaN
845457                                                NaN
845474                                                NaN

[21165 rows x 2 columns]

In [31]:
df_no_duplicates.head()

,Nama Perusahaan,Layanan
0,PT WISATA SAPTA PESONA,INTERNET CORPORATE
1,PT WISATA SAPTA PESONA,INTERNET CORPORATE / PENAMBAHAN IPV4 PUBLIK IN...
3,PT WISATA SAPTA PESONA,INTERNET CORPORATE / PROFESIONAL SERVICE WHITE...
5,PT. CIMB NIAGA AUTO FINANCE,INTERNET CORPORATE / PROFESIONAL SERVICE WHITE...
6,PT. CIMB NIAGA AUTO FINANCE,INTERNET CORPORATE