In [39]:
import sklearn
print("Scikit-learn imported successfully!")

Scikit-learn imported successfully!

In [40]:
import pandas as pd

In [41]:
#Membaca File Excel
df = pd.read_excel('data-test.xlsx')
print(df.head(5))

          Nama Perusahaan                                            Layanan
0  PT WISATA SAPTA PESONA                                 INTERNET CORPORATE
1  PT WISATA SAPTA PESONA  INTERNET CORPORATE / PENAMBAHAN IPV4 PUBLIK IN...
2  PT WISATA SAPTA PESONA  INTERNET CORPORATE / PENAMBAHAN IPV4 PUBLIK IN...
3  PT WISATA SAPTA PESONA  INTERNET CORPORATE / PROFESIONAL SERVICE WHITE...
4  PT WISATA SAPTA PESONA  INTERNET CORPORATE / PROFESIONAL SERVICE WHITE...

In [42]:
#Memeriksa duplicate
#kita hanya butuh cek 1x aja produk tersebut di order apa tidak

is_df_duplicate= df.duplicated()
print(is_df_duplicate)

0         False
1         False
2          True
3         False
4          True
          ...
845471     True
845472     True
845473     True
845474    False
845475     True
Length: 845476, dtype: bool

In [43]:
#menghapus baris duplikat

df_no_duplicates = df.drop_duplicates()
print(df_no_duplicates)

                                          Nama Perusahaan  \
0                                  PT WISATA SAPTA PESONA
1                                  PT WISATA SAPTA PESONA
3                                  PT WISATA SAPTA PESONA
5                             PT. CIMB NIAGA AUTO FINANCE
6                             PT. CIMB NIAGA AUTO FINANCE
...                                                   ...
845445  BADAN PENGELOLAAN KEUANGAN DAN ASET DAERAH KOT...
845447  BADAN KEPEGAWAIAN DAN PENGEMBANGAN SUMBER DAYA...
845456                                    ZOOM BPN SULSEL
845457                     DISKOMINFO KABUPATEN GORONTALO
845474                                PT. ELNUSA PETROFIN

                                                  Layanan
0                                      INTERNET CORPORATE
1       INTERNET CORPORATE / PENAMBAHAN IPV4 PUBLIK IN...
3       INTERNET CORPORATE / PROFESIONAL SERVICE WHITE...
5       INTERNET CORPORATE / PROFESIONAL SERVICE WHITE...
6                                      INTERNET CORPORATE
...                                                   ...
845445                                                NaN
845447                                                NaN
845456                                                NaN
845457                                                NaN
845474                                                NaN

[21165 rows x 2 columns]

In [44]:
df_no_duplicates.head(20)

,Nama Perusahaan,Layanan
0,PT WISATA SAPTA PESONA,INTERNET CORPORATE
1,PT WISATA SAPTA PESONA,INTERNET CORPORATE / PENAMBAHAN IPV4 PUBLIK IN...
3,PT WISATA SAPTA PESONA,INTERNET CORPORATE / PROFESIONAL SERVICE WHITE...
5,PT. CIMB NIAGA AUTO FINANCE,INTERNET CORPORATE / PROFESIONAL SERVICE WHITE...
6,PT. CIMB NIAGA AUTO FINANCE,INTERNET CORPORATE
7,PT. CIMB NIAGA AUTO FINANCE,INTERNET CORPORATE / PENAMBAHAN IPV4 PUBLIK IN...
8,PT. CIMB NIAGA AUTO FINANCE,METRONET
9,PT. LAUTAN NATURAL KRIMERINDO,METRONET
11,PT. LAUTAN NATURAL KRIMERINDO,INTERNET BROADBAND CORPORATE
20,PT. CENTRAL AVIAN PERTIWI,METRONET
21,PT. CHAROEN POKPHAND JAYA FARM,METRONET
24,PT. TELKOM INDONESIA (PERSERO) TBK,METRONET
30,PT. TELKOM INDONESIA (PERSERO) TBK,INTERNET BROADBAND CORPORATE
32,PT. TELKOM INDONESIA (PERSERO) TBK,METRONET / QINQ METRO ETHERNET
37,PT. TELKOM INDONESIA (PERSERO) TBK,INTERNET CORPORATE
39,PT. TELKOM INDONESIA (PERSERO) TBK,PAYMENT GATEWAY / ICONPAY
125,PT. TELKOM INDONESIA (PERSERO) TBK,INTERNET CORPORATE / PENAMBAHAN IPV4 PUBLIK IN...
126,PT. TELKOM INDONESIA (PERSERO) TBK,LAIN/LAIN
204,PT. TELKOM INDONESIA (PERSERO) TBK,MANAGED SERVICE ROUTER / MANAGE SERVICE ROUTE...
228,PT. TELKOM INDONESIA (PERSERO) TBK,I/WIN / MANAGE SERVICE WIFI / I/WIN MEDIUM

Exploratory Data Analysis (EDA)

In [ ]:
df = df_no_duplicates
df

In [47]:
df.isnull().sum()

Nama Perusahaan      0
Layanan            648
dtype: int64

In [48]:
df.dropna()

,Nama Perusahaan,Layanan
0,PT WISATA SAPTA PESONA,INTERNET CORPORATE
1,PT WISATA SAPTA PESONA,INTERNET CORPORATE / PENAMBAHAN IPV4 PUBLIK IN...
3,PT WISATA SAPTA PESONA,INTERNET CORPORATE / PROFESIONAL SERVICE WHITE...
5,PT. CIMB NIAGA AUTO FINANCE,INTERNET CORPORATE / PROFESIONAL SERVICE WHITE...
6,PT. CIMB NIAGA AUTO FINANCE,INTERNET CORPORATE
...,...,...
806146,PT. PLN (PERSERO) UNIT INDUK WILAYAH SUMATERA ...,PANIKI PLN / PANIKI MEKAR
806151,PT. PLN (PERSERO) UNIT INDUK WILAYAH SUMATERA ...,PRODUK DIGITAL / ZOOM
806184,PT. PLN (PERSERO) UNIT INDUK WILAYAH SUMATERA ...,ONE TIME SERVICE / OTC PENYEDIAAN LAYANAN JARI...
806185,PT. PLN (PERSERO) UNIT INDUK WILAYAH SUMATERA ...,"ONE TIME SERVICE / OTC ALAT JAR (ROUTER, SWITC..."
806213,PT. PLN (PERSERO) UNIT INDUK WILAYAH SUMATERA ...,PRODUK DIGITAL / EV 2 WHEEL

In [49]:
df.isnull().sum()

Nama Perusahaan      0
Layanan            648
dtype: int64

In [58]:
df_cleaned = df.dropna(subset=['Layanan'])

In [ ]:
df_cleaned.isnull().sum()

df = df_cleaned

In [61]:
df.isnull().sum()

Nama Perusahaan    0
Layanan            0
dtype: int64

In [62]:
df.nunique()

Nama Perusahaan    4729
Layanan             281
dtype: int64

In [64]:
df.dtypes

Nama Perusahaan    object
Layanan            object
dtype: object

In [65]:
#membersihkan layanan menghilangkan spasi di sekitar "/"

df['Layanan'] = df['Layanan'].str.replace(r'\s*/\s*','/',regex=True)

C:\Users\ilham.renaldyansyah\AppData\Local\Temp\ipykernel_23464\3808257341.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Layanan'] = df['Layanan'].str.replace(r'\s*/\s*','/',regex=True)

In [66]:
df['Layanan List']=df['Layanan'].str.split('/')

C:\Users\ilham.renaldyansyah\AppData\Local\Temp\ipykernel_23464\225446434.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Layanan List']=df['Layanan'].str.split('/')

In [68]:
df_exploded = df.explode('Layanan List')

df_dumies = pd.get_dummies(df_exploded['Layanan List'])

In [70]:
# 5. Gabungkan dengan nama perusahaan
df_final = pd.concat([df_exploded[['Nama Perusahaan']], df_dumies], axis=1)

In [71]:
# 6. Group by Nama Perusahaan dan ambil max (jika satu perusahaan punya banyak layanan)
df_pivot = df_final.groupby('Nama Perusahaan').max().reset_index()

In [74]:
# Hasil akhir
df_pivot.head()

,Nama Perusahaan,10 MBPS,100 MBPS,100MBPS,20 MBPS,50 MBPS,A,ACCESS BROADBAND,ACCESS CORPORATE,ACCESS IIX,...,VOUCHER PLN MOBILE,VPN,"WIFI, ETC.)",WIFIN INFRA,WIN,WIN HIGH,WIN MEDIUM,WIN PROJECT BASED,WINDOWS 10 PRO,ZOOM
0,KANTOR PERTANAHAN KAB. PURWOREJO SEKRETARIAT ...,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,PT BERKAT KASIH MULIA,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,ABID INFOTAMA KOMPUTINDO,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,True,False,False,False
3,ABIPRAYA TGP KSO,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,ABIPRAYA - DETA KSO,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [75]:
df_pivot.dtypes

Nama Perusahaan      object
10 MBPS                bool
100 MBPS               bool
100MBPS                bool
20 MBPS                bool
                      ...
WIN HIGH               bool
WIN MEDIUM             bool
WIN PROJECT BASED      bool
WINDOWS 10 PRO         bool
ZOOM                   bool
Length: 306, dtype: object